source ~/vimfiles/vimrcs/config/config_example.vim
source ~/vimfiles/vimrcs/config/config.vim
source ~/vimfiles/vimrcs/setting.vim
source ~/vimfiles/vimrcs/mapping.vim
source ~/vimfiles/vimrcs/ideavim.plugin.vim
source ~/vimfiles/vimrcs/ideavim.vim
